<nav class="navbar navbar-dark bg-dark">
  <span class="nav navbar-text m-auto">
    <h2>You own adverts</h2>
  </span>
</nav>
<div class="row no-gutters">
  <div class="col-3 pa-0">
    <button class="btn btn-block btn-outline-primary">
      Adverts
    </button>
    <button class="btn btn-block btn-outline-danger mt-0" (click)="signOut()">
      Sign out
    </button>
  </div>
  <div class="col-9">
    <table class="table table-sm table-striped">
      <thead>
      <tr>
        <th>ID</th><th>Created</th><th>Status</th>
        <th>Category</th><th>Brand</th><th>Edit/delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let advert of adverts">
        <td>{{advert.id}}</td>
        <td>{{advert.created}}</td>
        <td>{{showStatus(advert.status)}}</td>
        <td>{{advert.car.category}}</td>
        <td>{{advert.car.brand}}</td>
        <td>
          <div class="row no-gutters">
            <div class="col-6">
            <button class="btn btn-block btn-primary" (click)="edit(advert)">
            Edit
            </button></div>
            <div class="col-6">
            <button class="btn btn-block btn-danger">
            Delete
            </button>
            </div>
          </div>
        </td>
      </tr>

      </tbody>
    </table>
    <button class="btn btn-success" (click)="create()">
      Create new advert
    </button>
  </div>
</div>
