<nav class="navbar navbar-dark bg-dark">
  <span class="nav navbar-text m-auto">
    <h2>You own adverts</h2>
  </span>
  <form class="form-inline">
    <button class="btn btn-block btn-outline-danger mt-0" (click)="signOut()">
      Sign out
    </button>
  </form>
</nav>
<div class="justify-content-center">
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-5 bg-white rounded">
        <div class="card-header align-middle shadow">
          <form class="form-inline">
            <button class="btn float-right btn-success shadow rounded" (click)="create()">
              Create new advert
            </button>
          </form>
        </div>
        <div class="card-body" style="padding: 0;">
          <table class="table table-sm table-striped">
            <thead>
            <tr>
              <th class="border border-top-0 align-middle text-center">ID</th>
              <th class="border border-top-0 align-middle text-center">Created</th>
              <th class="border border-top-0 align-middle text-center">Status</th>
              <th class="border border-top-0 align-middle text-center">Category</th>
              <th class="border border-top-0 align-middle text-center">Brand</th>
              <th class="border border-top-0 align-middle text-center">Edit/delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let advert of adverts">
              <td class="align-middle border text-center">{{advert.id}}</td>
              <td class="align-middle border text-center">{{advert.created}}</td>
              <td class="align-middle border text-center">
                <div *ngIf="!advert.status">
                  <span class="shadow badge badge-success">{{showStatus(advert.status)}}</span>
                </div>
                <div *ngIf="advert.status">
                  <span class="shadow badge badge-danger">{{showStatus(advert.status)}}</span>
                </div>
              </td>
              <td class="align-middle border text-center">{{advert.car.category}}</td>
              <td class="align-middle border text-center">{{advert.car.brand}}</td>
              <td class="align-middle border text-center">
                <div class="row no-gutters">
                  <div class="col-6">
                    <button class="btn btn-block btn-primary" (click)="edit(advert)">
                      Edit
                    </button></div>
                  <div class="col-6">
                    <button class="btn btn-block btn-danger" (click)="delete(advert.id)">
                      Delete
                    </button>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div>
        </div>
        <div class="row justify-content-center">
          <h4>Pagination</h4>
        </div>
      </div>
    </div>
  </div>
</div>

