
<div class="row justify-content-center">
  <div class="col-12">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div class="modal-header">
        <h2 *ngIf="advert.id !== null && advert.id !== undefined">Advert № {{advert.id}}</h2>
        <h2 *ngIf="advert.id === null || advert.id === undefined">Creating new advert</h2>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
      </div>
      <div class="modal-body scroll-pane">

        <div class="mt-3 mb-3">
          <span><h5>Advert information:</h5></span>
        </div>

        <div *ngIf="advert.id !== null && advert.id !== undefined" class="form-group">
          <label class="form-control-label" for="field_created">Created</label>
          <input type="text" class="form-control shadow-sm bg-white rounded" id="field_created" name="created"
                 formControlName="created"
                 readonly/>
        </div>

        <div *ngIf="advert.id !== null && advert.id !== undefined" class="form-group">
          <label class="form-control-label" for="field_status">Status of advert</label>
          <select class="form-control shadow-sm bg-white rounded" id="field_status" name="status"
                  formControlName="status">
            <option *ngIf="!editForm.get('status')!.value" [ngValue]="null"></option>
            <option [ngValue]="false">New</option>
            <option [ngValue]="true">Sales</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description">Description</label>
          <textarea type="text" class="form-control shadow-sm bg-white rounded" rows="5" id="field_description" name="description"
                    formControlName="description"></textarea>
        </div>

        <div class="mt-3 mb-3">
          <span><h5>Car specifications:</h5></span>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_category">Category</label>
          <select class="form-control shadow-sm bg-white rounded" id="field_category" name="category"
                  formControlName="category">
            <option *ngIf="!editForm.get('category')!.value" [ngValue]="null"></option>
            <option value="Passenger">Passenger</option>
            <option value="Truck">Sales</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_brand">Brand</label>
          <input type="text" class="form-control shadow-sm bg-white rounded" id="field_brand" name="brand"
                 formControlName="brand"/>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_engine">Engine</label>
          <input type="text" class="form-control shadow-sm bg-white rounded" id="field_engine" name="engine"
                 formControlName="engine"/>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_transmission">Transmission</label>
          <input type="text" class="form-control shadow-sm bg-white rounded" id="field_transmission" name="transmission"
                 formControlName="transmission"/>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_carcass">Carcass</label>
          <input type="text" class="form-control shadow-sm bg-white rounded" id="field_carcass" name="carcass"
                 formControlName="carcass"/>
        </div>

        <div *ngIf="advert.id !== null && advert.id !== undefined && advert.attachedFiles.length > 0" class="form-group">
          <div class="mt-3 mb-3">
            <span><h5>Existing images:</h5></span>
            <table class="table table-striped">
              <tr *ngFor="let attachment of currentAttachments">
                <td>
                  <img [src]="this.baseUrl + attachment.id" width="200px" height="200px"/>
                </td>
                <td class="text-left">
                  <button type="button"
                          (click)="cleanExistingFile(attachment.id)"
                          class="btn btn-secondary btn-xs pull-right">
                    <fa-icon [icon]="deleteIcon"></fa-icon>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="form-group">
          <div *ngIf="fileList!.length > 0" class="mt-3 mb-3">
            <span><h5>New images:</h5></span>
          </div>
          <table *ngIf="fileList!.length > 0" class="table table-striped">
            <tr *ngFor="let file  of fileList; let i = index;">
              <td>
                <a style="border: #2d2d2d" (click)="file">
                                            <span *ngIf="file">Вложение: {{file.name}}
                                              , {{file.size}}</span>

                </a>
              </td>
              <td class="text-left">
                <button type="button"
                        (click)="cleanFile(file)"
                        class="btn btn-secondary btn-xs pull-right">
                  <fa-icon [icon]="deleteIcon"></fa-icon>
                </button>
              </td>
            </tr>
          </table>

          <button type="button" class="btn btn-success" (click)="file_attachment.click()">Add imagine</button>
          <input  #file_attachment id="file_attachment" class="hidden-input" type="file" (change)="setFileData($event)"
                 accept="image/*" style="visibility:hidden;"/>
        </div>
      </div>
      <div class="modal-footer">
        <div>
          <div class="btn-group shadow rounded">
            <button type="button" class="btn btn-primary" style="border-right-color: white;"
                    (click)="clear()">
              <span>Cancel</span>
            </button>
            <button type="submit" [disabled]="editForm.invalid"
                    class="btn btn-secondary"
                    style="border-left-color: white;">
              <span>Save</span>
            </button>
        </div>
      </div>
      </div>
    </form>
  </div>
</div>

