<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-text m-auto">
    <h2>Sign in</h2>
  </span>
</nav>
<div class="bg-danger p-1 text-xl-center"
     *ngIf="errorMessage != null">
    {{errorMessage}}
</div>
<div class="p-1">
  <form novalidate (ngSubmit)="authenticate()">
    <div class="form-group">
      <label>Login</label>
      <input class="form-control" name="login"
             [(ngModel)]="login" required />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input class="form-control" type="password" name="password"
             [(ngModel)]="password" required />
    </div>
    <div class="text-xl-center">
      <button class="btn btn-secondary" routerLink="/">Go back</button>
      <button class="btn btn-primary" type="submit">Sing In</button>
    </div>
  </form>
</div>
