<div class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand">CARS STORAGE</a>
</div>
<div class="col-xs-3 p-a-1">
  <button class="btn btn-block btn-outline-primary">
    Home
  </button>
  <button class="btn btn-block btn-danger m-t-0" routerLink="/admin">
    Sign in
  </button>
</div>
<div class="col-xs-9">
  <table class="table table-sm table-striped">
    <thead>
    <tr>
      <th>ID</th><th>Created</th><th>Status</th><th>Login</th><th>Phone</th>
      <th>Category</th><th>Brand</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>
