<nav class="navbar navbar-dark bg-dark">
  <span class="nav navbar-text m-auto">
    <h2>Cars storage</h2>
  </span>
  <form class="form-inline">
    <button class="btn btn-outline-danger mt-0" routerLink="/admin/signin">
      Sign in
    </button>
    <button class="btn btn-outline-success mt-0" routerLink="/admin/signup">
      Sign up
    </button>
  </form>
</nav>
<div class="row no-gutters">
<div class="col-3 pa-0">
  <button class="btn btn-block btn-outline-primary mt-0">
    Show filters
  </button>
  <button class="btn btn-block btn-outline-danger mt-0">
    Delete filters
  </button>
</div>
<div class="col-9">
  <table class="table table-sm table-striped">
    <thead>
    <tr>
      <th>ID</th><th>Created</th><th>Status</th><th>Login</th><th>Phone</th>
      <th>Category</th><th>Brand</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let advert of adverts">
      <td>{{advert.id}}</td>
      <td>{{advert.created}}</td>
      <td>{{showStatus(advert.status)}}</td>
      <td>{{advert.user.login}}</td>
      <td class="align-middle border text-center"><a href="javascript:void(0);"
                                                     style="color: #0a76ff;" (click)="showAdvertDialog(advert)">{{advert.user.phone}}</a></td>
      <td>{{advert.car.category}}</td>
      <td>{{advert.car.brand}}</td>
    </tr>

    </tbody>
  </table>
</div>
</div>
