<nav class="navbar navbar-dark bg-dark">
  <span class="nav navbar-text m-auto">
    <h2>Cars storage</h2>
  </span>
  <form class="form-inline">
    <button class="btn btn-outline-danger mt-0" routerLink="/admin/signin">
      Sign in
    </button>
    <button class="btn btn-outline-success mt-0" routerLink="/admin/signup">
      Sign up
    </button>
  </form>
</nav>
<div class="justify-content-center">
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-5 bg-white rounded">
        <div class="card-header align-middle shadow">
          <div  class="float-left"  style="padding-right: 10px">
            <h3><span>Adverts</span></h3>
          </div>
          <form class="form-inline">
            <button class="btn float-right btn-outline-primary shadow rounded">
              Show filters
            </button>
            <button class="btn float-right btn-outline-danger shadow">
              Delete filters
            </button>
          </form>
        </div>
        <div class="card-body" style="padding: 0;">
          <table class="table table-sm table-striped">
            <thead>
            <tr>
              <th class="border border-top-0 align-middle text-center">ID</th>
              <th class="border border-top-0 align-middle text-center">Created</th>
              <th class="border border-top-0 align-middle text-center">Status</th>
              <th class="border border-top-0 align-middle text-center">Login</th>
              <th class="border border-top-0 align-middle text-center">Phone</th>
              <th class="border border-top-0 align-middle text-center">Category</th>
              <th class="border border-top-0 align-middle text-center">Brand</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let advert of adverts">
              <td class="align-middle border text-center">{{advert.id}}</td>
              <td class="align-middle border text-center">{{advert.created}}</td>
              <td class="align-middle border text-center">
                <div *ngIf="!advert.status">
                  <span class="shadow badge badge-success">{{showStatus(advert.status)}}</span>
                </div>
                <div *ngIf="advert.status">
                  <span class="shadow badge badge-danger">{{showStatus(advert.status)}}</span>
                </div>
              </td>
              <td class="align-middle border text-center">{{advert.user.login}}</td>
              <td class="align-middle border text-center"><a href="javascript:void(0);"
                                                             style="color: #0a76ff;" (click)="showAdvertDialog(advert)">{{advert.user.phone}}</a></td>
              <td class="align-middle border text-center">{{advert.car.category}}</td>
              <td class="align-middle border text-center">{{advert.car.brand}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div>
        </div>
        <div class="row justify-content-center">
          <span>{{(page - 1) * itemsPerPage + 1 + ' - ' + itemsPerPage * page}}</span>
        </div>
        <div class="row justify-content-center">
          <ngb-pagination [collectionSize]="totalItems" [(page)]="page"
                          [pageSize]="itemsPerPage" [maxSize]="5"
                          [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
        </div>
    </div>
  </div>
</div>
